* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  width: 100dvh;
  height: 100dvh;
  padding: 0;
  margin: 0;
}

p, ins, span, a, h1, h2, h3, h4, h5, h6, button, input, select, textarea {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
